<div class="header">
  <h2>Contatos</h2>
</div>

<p-table [value]="contatos" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-contato>
    <tr>
      <td>{{ contato.nome }}</td>
      <td>{{ contato.email }}</td>
      <td>{{ contato.telefone }}</td>
      <td class="buttonsActions">
        <p-button label="Visualizar" severity="info" (click)="viewContact(contato)"></p-button>
        <p-button label="Excluir" severity="danger" *ngIf="contato.id !== undefined" (click)="deleteContact(contato.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="contatos.length === 0" class="alert alert-info">
  Nenhum contato encontado.
</div>

<app-contact-detail
  [contatoSelecionado]="contatoSelecionado"
  [(displayDialogView)]="displayDialogView"
  (closeDialog)="onCloseDialog()">
</app-contact-detail>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
